@{
    ViewData["Title"] = "401 - Unauthorized!";
    Layout = "_AccountLayout";
}

<div id="unauthorized">
    <h1>401 Unauthorized</h1>
    <h4>
        HTTP 401. The requested resource requires user authentication.
    </h4>
</div>
