<footer class="main-footer">
	<strong>Copyright &copy; 2020 <a href="#">ASP.Net_Core_3.1_Mvc_App</a>.</strong>
		All rights reserved.
	<div class="float-right d-none d-sm-inline-block">
		<b>Version</b> 1.0
	</div>
</footer>
