<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"] - ASP.Net_Core_3.1_Mvc_App</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<link rel="stylesheet" href="~/css/site.css" />
		<link rel="stylesheet" href="~/lib/plugins/css/all.min.css">
		<link rel="stylesheet" href="~/lib/plugins/css/adminlte.min.css">
		<link rel="stylesheet" href="~/lib/plugins/css/icheck-bootstrap.min.css">
	</head>
	<body class="hold-transition sidebar-mini layout-fixed">
		<div class="wrapper">
			<partial name="_Header.cshtml" />
			<partial name="_SideBar.cshtml" />
			<div class="content-wrapper">
				<partial name="_ContentHeader.cshtml" />
				<section class="content">
      				<div class="container-fluid">
						@RenderBody()
					</div>
				</section>
			</div>
			<partial name="_Footer.cshtml" />
		</div>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/lib/plugins/js/jquery-ui.min.js"></script>
    	<script src="~/js/adminlte.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		@RenderSection("Scripts", required: false)
	</body>
</html>
