@{
    ViewData["Title"] = "Confirm Email";
    Layout = "_AccountLayout";
}

<div id="confirm-email-message">
    <h4>
        Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
    </h4>
</div>
