@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_AccountLayout";
}

<div id="reset-password-message">
    <h3>
        Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
    </h3>
</div>
