@model FaqViewModel
@{
    ViewData["Title"] = "Edit Faq";
    Layout = "_Layout";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Create Faq</h3>
    </div>
    <form asp-controller="Faq" asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <span asp-validation-for="Question" class="text-danger"></span>
            <div class="form-group">
                <label for="inputQuestion">
                    @Html.DisplayNameFor(vm => vm.Question)
                </label>
                <input asp-for="Question" type="text" class="form-control" id="inputQuestion" placeholder="Question">
            </div>
            <span asp-validation-for="Answer" class="text-danger"></span>
            <div class="form-group">
                <label for="inputAnswer">
                    @Html.DisplayNameFor(vm => vm.Answer)
                </label>
                <input asp-for="Answer" type="text" class="form-control" id="inputAnswer" placeholder="Answer">
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
